<!doctype html>
<html>
    <head>
        <title>Hello from Flask</title>

        <link href={{ url_for('static', filename='/css/bootstrap.min.css') }} rel='stylesheet' type='text/css'>
    </head>
    <body>
        {% include "/ui_elements/navbar.jinja" %}
        <div class="container-fluid">
            {% if name %}
                <h1>Hello {{ name }}!</h1>
            {% else %}
                <h1>Hello, World!</h1>
            {% endif %}

            <p>The current url is {{ url_for(request.endpoint) }}</p>
        </div>
    </body>
</html>